.plantilla {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 2fr 9fr 1fr;
    grid-template-columns: 12fr ;
    grid-template-areas: "cabecera" "cuerpo" "pie";
    }
    
    .cabecera {
        grid-area:cabecera;
        background-color: darksalmon;
        
    
    }
    .cuerpo {
        grid-area:cuerpo;
        background-color: grey;
    }
    .pie {
        grid-area:pie;
        background: #18191f;
    }
    a{
        text-decoration: none;
    }