
<div class="cuerpo">
<form [hidden]="loading" [formGroup]="loginForm" (ngSubmit)="enviarFormulario()">
    <div class="login-box">
        <h1>Inicio de sesión</h1>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Usuario" formControlName="user">
        </div>
        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="Contraseña" formControlName="pass">
        </div>
        <button class="btn" type="submit">Enviar</button>
    </div>
</form>
<app-error-component *ngIf="loginForm.errors" [message]="loginForm.errors.login"></app-error-component>
<img class="gif" *ngIf="loading" src="../../../assets/loading.gif" alt="gif">
<!--Componente-->
</div>