<p>Parte privada</p>
<!--<div id="espacio"></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand"  [routerLink]="['/']"><img  class="logo" src="../../assets/imagenes/logo3.png"></a>
    <ul class="navbar-nav">
 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  [routerLink]="['/mInstrucciones']" id="navbardrop" data-toggle="dropdown">
                Instrucciones
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  [routerLink]="['/mArticulos']" id="navbardrop" data-toggle="dropdown">
                Artículos
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <img src="../../assets/imagenes/login.png" alt="Identidad">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/editar_perfil">Editar perfil</a>
                <a class="dropdown-item" href="/mis_instrucciones">Mis instrucciones guardadas</a>
                <a class="dropdown-item" href="/cerrar_sesion">Cerrar sesión</a>
        
            </div>
       
        </li>

    </ul>
</nav>-->