<div class="contenedor_articulos">
    <div class="contenedor_tabla">
      <div class="tituloA">
        <h2>ARTÍCULOS</h2>
   
      </div>
      <div class="encabezados">
   
        <div class="titulo">Titulo</div>
        <div class="descripcion">Descripción</div>
        <div class="referencia">Referencia</div>
        <div class="precio">Precio</div>
        <div class="imagen">Imagen</div>
        <div class="categoria">Categoria</div>
        <div class="tienda">Tienda</div>
     
      </div>

      <div>

      <div class="articulos" *ngFor='let articulo of articulos'>
   
        <div>{{articulo.titulo}}</div>
        <div>{{articulo.descripcion}} </div>
        <div> <a href="{{articulo.referencia}}">{{articulo.referencia}}</a></div>
        <div>{{articulo.precio}} € </div>
        <div><img class="formateaImagen" alt="{{articulo.imagen}}" src="assets/imagenes/{{articulo.imagen}}"></div>
        <div>{{articulo.categoria}} </div>
        <div> {{articulo.tienda}}</div>
  
      </div>
    </div>
    </div>
  </div>