<div class="privacidad">

    <h2> Política de privacidad</h2><br>
    <div class="borde">
        Protección de datos de carácter personal según la LOPD ROBOTIKARG, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del Sitio web:
        www.robotikarg.org, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de ROBOTIKARG<br> La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de
        la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de ROBOTIKARG
        <br> Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.<br> ROBOTIKARG adopta las medidas necesarias para garantizar la seguridad, integridad
        y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales
        y a la libre circulación de los mismos.<br> El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y cancelación reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo
        el propio usuario a través de email a: admin@robotikarg.org<br> El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a ikargrobot@gmail.com<br>
    </div>
    <a [routerLink]="['/']"> Volver al inicio</a>


</div>