<div class="contacto">
    <h1 class="card-title titulo">Contacta con nosotros</h1>
    <form [formGroup]="contactoForm" (submit)="contacto(contactoForm.value)">
        <div class="form-group">
            <label for="correo">Tu correo</label>
            <input type="email" class="form-group" formControlName="email" aria-describedby="emailHelp"
                placeholder="Introduce el correo">

        </div>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-group" formControlName="titulo" id="titulo" placeholder="Escribe el titulo de la consulta">
        </div>
        <div class="form-group">
            <label for="motivo">Motivo de la consulta</label>
            <textarea class="form-group" formControlName="motivo" id="motivo">
             </textarea>

        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Enviar formulario"><br>

</form>
</div>
<!--
  <div [hidden]="!submitted" class="contact-message">
      <div *ngIf="model.id" class="contact-success">
        <h2 class="success">¡Exito!</h2>
        <h4>El formulario ha sido enviado correctamente.</h4>
        <br />
        <button class="btn btn-info">Volver</button>
      </div>
    </div>
   -->