<div class="wrapper-box">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="contactoForm" (submit)="enviarContacto()">
                    <h1 class="titulo">Contacto</h1>
                    <div class="form-group">
                        <label for="Email">Correo:</label>
                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Introduce tu correo ...." formControlName="Email" size="100" />
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small
              >
            </div>
            <div class="form-group">
              <label for="fullname">Nombre:</label>
              <input type="text" class="form-control" name="Fullname" placeholder="Tu nombre ..." formControlName="Fullname" />
            </div>
  
            <div class="form-group">
              <label for="comment">Comentario:</label>
              <textarea class="form-control" formControlName="Comment" name="Comment">
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!contactoForm.valid">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>