.contenedor_leerTorneos {
    display: grid;
    justify-items: center;
}

.contenedor_tabla {
    width: 80%;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: "titulo" " encabezados" "datosUsuario";
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 10px double #000000;
    -webkit-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    //grid-auto-rows: auto;
    // grid-gap: 10%;
    //margin: auto;
}

.titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
}

.encabezados {
    grid-area: encabezados;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "imagen fecha hora costeEquipo rangoEdad ubicacion";
    border: 1px solid black;
    color: white;
    background-color: #0a2843;
    justify-content: center;
    align-items: center;
    border: 1px solid #00376F;
}

.imagen {
    grid-area: imagen;
}

.nombre {
    // width: 100%;
    grid-area: nombre;
}

.fecha {
    // width: 100%;
    grid-area: fecha;
}

.hora {
    grid-area: hora;
}

.ubicacion {
    grid-area: ubicacion;
}

.latitud {
    grid-area: latitud;
}

.longitud {
    grid-area: longitud;
}

.costeEquipo {
    grid-area: costeEquipo;
}

.provincia {
    grid-area: provincia;
}

.rangoEdad {
    grid-area: rangoEdad;
}

.datosUsuario {
    grid-area: datosUsuario;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "imagen fecha hora costeEquipo rangoEdad ubicacion ";
    grid-auto-rows: auto;
    border: 1px solid black;
    background-color: floralwhite;
    border: 1px solid #00376F;
    padding: 2px;
}

.formateaImagen {
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #34649C;
}

.mensaje {
    color: red;
    font-size: 14px;
}

.borde {
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 10px double #000000;
    padding: 30px;
    -webkit-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
}