<div class="informacion">
<h1 class="titulo">Información general</h1>
<p>Esta aplicación se debe a querer enseñar a los más pequeños la programación y su iniciación a ella, a través de actividades divertidas como: jugar con robots. 
</p><p>Se les puede enseñar a que de forma sencilla pueden crear movimientos para los robots y que pueden aplicar sus conocimientos en torneos de robótica.
</p>
<p>En esta página podrás ver, qué torneos se desarrollan a nivel nacional de robótica, su emplazamiento y sus características: fecha, 
    edad de los participantes, el coste por equipo </p>
    <p>Si te registras podrás:</p>
    <ul>
        <li> Ver instrucciones que se utilizan para programar, distintos robots, por rango de edades. Guardar las que más te gusten</li>
        <li>Podrás acceder a una sección dedicada a artículos de robótica como: componentes, kits, accesorios, que te llevarán a las páginas donde podrás comprarlos.</li>
        <li>Puedes cambiar tu perfil y ver las instrucciones que más te han gustado</li>
    </ul>
</div>