<div class="contenedor_misInstrucciones">
    <div class="contenedor_tabla">
      <div class="titulo">
        <h2>Mis instrucciones</h2>
      </div>
      <div class="encabezados">
        <div class="id"> Id</div>
        <div class="instruccon">Instrucción</div>
        <div class="accion">Acción</div>
        <div class="lenguaje">Lenguaje</div>
        <div class="opciones">Opciones</div>
     
      </div>

      <div>

      <div class="instrucciones" *ngFor='let miInstruccion of instrucciones'>
        <div>{{miInstruccion.id}} </div>
        <div>{{miInstruccion.instruccion}}</div>
        <div>{{miInstruccion.accion}} </div>
        <div> {{miInstruccion.nombreLenguaje}}</div>
        <div>Editar instrucción | Eliminar
      </div>
    </div>
    </div>
  </div>
  </div>
