<div class="contenedor_Instrucciones">
    <div class="contenedor_tabla">
        <div class="titulo">
            <h2>LISTADO DE INSTRUCCIONES</h2>
        </div>
        <div class="lenguajes">
            <button class="actualizar" (click)="refresh()">Actualizar instrucciones</button><br><br><br>
            <button class="añadir_instruccion" [routerLink]="['/admin_insertar_instrucciones']">Añadir instrucción</button><br>
            <label for="lenguajes">Lenguajes</label>
            <select name="lenguajes" (change)="muestraInstrucciones($event.target.value)">
        <option value="-1">-------------</option>
        <option  *ngFor='let lenguaje of lenguajes' value="{{lenguaje.id}}">{{lenguaje.nombre}}</option>
      </select>
        </div>
        <div class="encabezados">
            <!-- <div class="id"> Id</div> -->
            <div class="instruccon">Instrucción</div>
            <div class="accion">Acción</div>
            <div class="lenguaje">Lenguaje</div>
            <div class="opciones">Opciones</div>

        </div>

        <div>

            <div class="instrucciones" *ngFor='let miInstruccion of instrucciones'>
                <!-- <div>{{miInstruccion.id}} </div> -->
                <div>{{miInstruccion.instruccion}}</div>
                <div>{{miInstruccion.accion}} </div>
                <div> {{miInstruccion.lenguaje}}</div>
                <div><button class="editar" (click)="editar(miInstruccion.id)">Editar instruccion </button>
                    <button class="eliminar" (click)="eliminar(miInstruccion.id)">Eliminar instruccion</button>
                </div>
            </div>
        </div>
    </div>
</div>