<div class="contenedor_misInstrucciones">
    <div class="contenedor_tabla">
      <div class="titulo">
        <h2>Mis instrucciones</h2>
      </div>
      <div class="mensaje" *ngIf=''>
      </div>
      <div class="encabezados">

        <div class="instruccon">Instrucción</div>
        <div class="accion">Acción</div>
        <div class="lenguaje">Lenguaje</div>
        <div class="opciones">Opciones</div>
     
      </div>

      <div>

      <div class="instrucciones" *ngFor='let miInstruccion of instrucciones'>

        <div>{{miInstruccion.instruccion}}</div>
        <div>{{miInstruccion.accion}} </div>
        <div> {{miInstruccion.nombreLenguaje}}</div>
        <button class="nomegusta" (click)="nomegusta(miInstruccion.idInstruccionUsuario)">Ya no me gusta</button>
      </div>
    </div>
    </div>
  </div>