.contenedor_editarInstrucciones {
    display: grid;
    justify-items: center;
    
    //grid-template-columns: 12fr;
  }
  .contenedor{
    width: 60%;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: "titulo" " datosFormulario";
  
    //grid-auto-rows: auto;
    // grid-gap: 10%;
  
    //margin: auto;
  }
  .titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
  }
  .datosFormulario {
    grid-area: datosFormulario;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-areas: "id instruccion accion idLenguaje";
  }
  .id{
      grid-area:id;
  }
  .instruccion {

    grid-area: instruccion;
  }
  .accion {

    grid-area: accion;
  }
  .idLenguaje {
    grid-area: idLenguaje;

  }
.aviso{

    color:darkred;
}
.fallo{
  color:red;
}