.contenedor_editarArticulos {
    display: grid;
    justify-items: center;
    align-items: center;
    //grid-template-columns: 12fr;
}

.contenedor {
    width: 60%;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: "titulo" " datosFormulario";
    //grid-auto-rows: auto;
    // grid-gap: 10%;
    //margin: auto;
}

.borde {
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 10px double #000000;
    padding: 30px;
    -webkit-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -9px 7px 1px rgba(0, 0, 0, 0.75);
}

.titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
}

.datosFormulario {
    grid-area: datosFormulario;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "id titulo descripcion referencia precio imagen categoria tienda";
    align-items: center;
    justify-content: center;
}

.id {
    grid-area: id;
}

.titulo {
    grid-area: titulo;
}

.descripcion {
    grid-area: descripcion;
}

.referencia {
    grid-area: referencia;
}

.precio {
    grid-area: precio;
}

.imagen {
    grid-area: imagen;
}

.categoria {
    grid-area: categoria;
}

.tienda {
    grid-area: tienda;
}

.aviso {
    color: darkred;
}

.fallo {
    color: red;
}